/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* import typography*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Modifications in the CSS*/

body{
	background-color: #e6e7e9;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f40606' fill-opacity='0.22' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

h1{
	font-size: 25px;
}

h2{
	font-size:18px;
}

h3{
	font-size:14px;
}

/* Website container*/
.container{
	max-width: 1062px;
	margin: auto;
		
}

/* Website container for the nav bar*/
.header{
	margin-top: 20px;
	height: 200px;
	
}

/* top navigation controller*/
.top-header{
	background-color: #4b4b4d;
	height: 40px;
	padding: 40px;
	justify-content: space-between;
	display: flex;
}

.logo > img{
	height: 100%;
}

.social-icons{
	color: white;
	font-size: 40px;
}

/* bottom navigation controller*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 10px 4px;
	grid-template-areas:
	  "Col-1 Col-2 Col-3 Col-4 Col-5";
	text-align: center;
  }
  
  .columnsNav{
	background-color: #97989a;
	padding: 15px 0;
	font-size: 1rem;
	color: white;
	margin: 15px;
  }
 
/* section of articles*/
.grid-seccion-noticias {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 10px;
	font-size: 18px;
	color: white;
	margin-top: 20px;
  }

/*image of articles*/
  .articulo-grid-1{
	  background-image: url(./img/news-1.jpg);
	  background-repeat: no-repeat;
	  background-size:cover;
	  height: 200px;  
  }
  .articulo-grid-2{
	background-image: url(./img/news-2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 200px;  
}
.articulo-grid-3{
	background-image: url(./img/news-3.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 200px;  
}


  .articulo{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	
	}

  .boton-ver-mas{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: black;
    font-size: 14px;
    color: white;
    margin: 10px 0;
	border-radius: 4px;
	width: 60px;
}

/* Main article*/
div.flex-main-section{
	background-color: #E6E7E9;
}

.blog-principal{
	margin: 40px auto;
	max-width: 800px;
}

.image-main{
	background-image: url(./img/news-4.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%; 
	height: 30vh;
}
.margen-texto-del-blog{
	margin: 10px 0;
}



/*Footer*/
.footer{
	height: 50px;
	width: 100%;
	background-color: #4B4B4D;
	display: flex;
	color: white;
	justify-content: space-around;
	margin-bottom: 20px;
}

.footer > h3 {
	margin-top: 10px;
}


/*mmedia query*/
@media only screen and (max-width: 600px){
	.grid-seccion-noticias {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 0px 10px;
		font-size: 18px;
		color: white;
		margin-top: 20px;
	  }

	}